# ==================================================
# Build artifacts
# ==================================================
build/
out/
cmake-build-*/
CMakeFiles/
CMakeCache.txt
Makefile
compile_commands.json

# ==================================================
# Visual Studio
# ==================================================
.vs/
*.vcxproj
*.vcxproj.user
*.vcxproj.filters
*.sln
x64/
Win32/

# ==================================================
# CUDA / OptiX
# ==================================================
*.ptx
*.optixir
*.cubin
*.fatbin
*.nvcc*
cuda_compile*
*.lib
*.exp
*.ilk
*.pdb

# ==================================================
# Runtime binaries
# ==================================================
*.exe
*.dll

# ==================================================
# Logs / temp
# ==================================================
*.log
*.tmp

# ==================================================
# OS junk
# ==================================================
.DS_Store
Thumbs.db

# ==================================================
# External deps (optional)
# Uncomment if you vendor them
# ==================================================
# external/glfw/
# external/imgui/
# external/glad/
# external/glm/


# ==================================================
# Lumberyard assets (too large)
# ==================================================
assets/lumberyard
/cuda/PathTracer_badNEE.cu
/cuda/SimplePathTracer.cu
/cuda/SimplePathTracer_experi.cu
/src/scene.h
